<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ site.title}} | {{ page.title }}</title>
    <link href="{{ url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url(minify('css/stylish-portfolio.css')) }}" rel="stylesheet">
    <link href="{{ url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>{{ site.title}}</h1>
            <h3>{{ site.baseline }}</h3>
            <br>
            <a href="{{ site.about.url }}" class="btn btn-dark btn-lg">En savoir plus</a>
        </div>
    </header>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <p class="text-muted">
                        Copyright &copy; {{ "now"|date("Y") }} <a href="{{ site.author.website }}">{{ site.author.name }}</a></p>
                    <p class="text-muted">
                        Powered by <a href="{{ phpoole.url }}">PHPoole</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ url('js/jquery.js') }}"></script>
    <script src="{{ url('js/bootstrap.min.js') }}"></script>
</body>
</html>
